<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./../../styles.ejs') -%>
    <%- include('./../sidebar-style.ejs') -%>
    <%- include('./../../scripts.ejs') -%>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#sidebarCollapse').click(function(){
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
        });
    </script>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-dark">
        <button type="button" id="sidebarCollapse" class="btn btn-danger">
            <i class="fas fa-align-justify"></i>
        </button>
        <img src="/resources/img/logo.png" alt="BB Intranet" id="logo">
    </nav>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header text-light text-center">
                <img src="/resources/img/avatar/m.png" alt="avatar" class="avatar rounded-circle d-block">
                <h4 class="d-block ml-auto mr-auto"><%= user.name %></h4>
                <span class="d-block ml-auto mr-auto"><%= user.rank %></span>
            </div>
            <ul class="list-unstyled">
                <li class="<%= path1 === 'index' ? 'active' : '' %>"><a href="/"><i class="fas fa-home"></i> Home</a>
                <li class="<%= path1 === 'badges' ? 'active' : '' %>"><a href="/badges"><i class="fas fa-certificate"></i> Badge list</a></li>
                <li class="<%= path1 === 'something else' ? 'active' : '' %>">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-home"></i> Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Home</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            </ul>
        </nav>
        <div id="content">