<!-- Modal -->
<div class="modal fade" id="edit-activity-modal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="font-weight-bold text-dark">
					Edit Activity
				</h4>
				<button type="button" class="close" data-dismiss="modal">
					&times;
				</button>
			</div>
			<form role="form" id="edit-activity-form">
				<div class="modal-body">
					<div class="form-group">
						<label for="edit_activity_name">Activity Name</label>
						<input type="text" class="form-control datepicker" id="edit_activity_name" name="edit_activity_name" placeholder="Enter Activity Name" required value="<%= activity.name %>">
					</div>
					<div class="form-group">
						<label for="edit_start_date">Start Date</label>
						<input type="date" class="form-control" id="edit_start_date" name="edit_start_date" required value="<%= moment(activity.startDate).format('YYYY-MM-DD') %>">
					</div>
					<div class="form-group">
						<label for="edit_end_date">End Date</label>
						<input type="date" class="form-control" id="edit_end_date" name="edit_end_date" required value="<%= moment(activity.endDate).format('YYYY-MM-DD') %>">
					</div>	
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success">Save</button>
					<button data-dismiss="modal" type="reset" class="btn btn-secondary">Cancel</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(()=>{
		$('#edit_start_date').change(function(){
			$('#edit_end_date').attr('min',$(this).val());
		});
		$('#edit_end_date').change(()=>{
			$('#edit_start_date').attr('max',$(this).val());
		});
		$('#edit-activity-form').submit( async function(e){
			e.preventDefault();
			const start_date = $('#edit_start_date').val();
			const end_date = $('#edit_end_date').val();
			const activity_name = $('#edit_activity_name').val();

			try{
				const res = await fetch('/admin/activities/<%= activity._id %>/edit',{
					method: 'POST',
					body: JSON.stringify({start_date,end_date,activity_name}),
                    headers: {'Content-Type':'application/json'}
				});

				const data = await res.json();

				if(data.errors){
					Swal.fire({
                        title: 'Error',
                        text : 'Activity cannot be modified due to some system error',
                        icon : 'error'
                    });
				}
				console.log(data);
				if(data.activity){
					Swal.fire({
						title: 'Modify Successfully',
						text : '"<%= activity.name %>" has been modified successfully',
						icon : 'success'
					}).then(()=>{location.assign('/admin/activities');});
				}
			} catch(err){}
		});
	})
</script>