<%- include('../partials/header.ejs') -%>
<section>
    <div class="content-wrapper">
        <div class="content-heading border-bottom d-flex justify-content-between">
            <h1 class="">Activity List</h1>
            <div class="d-flex align-items-center">
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#new-activity-modal">Add new activity</button>
            </div>
        </div>
        <div class="content-body">
            <table class="table" id="member-list" data-filtering="true" data-sorting="true" data-paging="true" data-paging-count-format="{CP} of {TP} (total {TR} records)" data-filter-position="right">
                <thead>
                    <th data-filterable='true' data-sortable="false">Activity name</th>
                    <th data-filterable='true' data-sortable="false">Start Date</th>
                    <th data-filterable='true' data-sortable="false">End Date</th>
                    <th data-filterable='true' data-sortable="true">Duration (Day)</th>
                    <th data-filterable='false' data-sortable="false">Actions</th>
                </thead>
                <tbody>
                    <% if(activities.length > 0) { %>
                        <% (activities).forEach(activity => { %>
                            <tr>
                                <td><%= activity.name %></td>
                                <td><%= moment(activity.startDate).format('DD-MMM-YYYY') %></td>
                                <td><%= moment(activity.endDate).format('DD-MMM-YYYY') %></td>
                                <td><%= moment(activity.endDate).diff(moment(activity.startDate),'days') %></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn-default btn border-primary text-primary" data-toggle="tooltip" title="Details" href="/admin/activities/<%= activity._id %>" target="_blank"><i class="fa fa-search"></i></a>
                                        <button class="btn-danger btn" data-toggle="tooltip" title="Delete" data-delete-id="<%= activity._id %>"><i class="far fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('./new-modal.ejs') -%>
</section>
<script>
    $(document).ready(async()=>{
        $('#member-list').footable({
            paging:{
                size:15,
            },
            components:{
                filtering: FooTable.MyFiltering
            }
        },()=>{
            $('[data-toggle="tooltip"]').tooltip();

            $('[data-delete-id]').click(function(){
                const id = $(this).attr("data-delete-id");
                Swal.fire({
                    title: "Are you sure",
                    text: "Do you want to delete this activity permanently?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: 'Delete',
                    cancelButtonText: 'Cancel',
                }).then(async(result)=>{
                    if(result.isConfirmed){
                        const url = '/admin/activities/'+id+'/delete';
                        try{
                            const res = await fetch(url,{
                                method:'POST',
                                body: JSON.stringify(),
                                headers: {'Content-Type':'application/json'}
                            });
                            const data = await res.json();
                            console.log(data);
                            if(data.errors){
                                Swal.fire({
                                    title: 'Error',
                                    text : data.errors,
                                    icon : 'error'
                                });
                            } else if (data.name) {
                                Swal.fire({
                                    title: 'Successfully',
                                    text : 'Activity "'+data.name+'" has been deleted successfully',
                                    icon : 'success'
                                }).then(()=>{location.reload();});
                            }
                        }
                        catch(err){}
                    }
                })
            });
        });
    });
</script>
<%- include('../partials/footer.ejs') -%>