<%- include('../partials/header.ejs') -%>
<section>
    <div class="content-wrapper">
        <div class="content-heading border-bottom d-flex justify-content-between">
            <h1 class="">Activity List</h1>
            <div class="d-flex align-items-center">
                <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#new-activity-modal">Add new activity</button>
            </div>
        </div>
        <div class="content-body">
            <table class="table" id="member-list" data-filtering="true" data-sorting="true" data-paging="true" data-paging-count-format="{CP} of {TP} (total {TR} records)" data-filter-position="right">
                <thead>
                    <th data-filterable='true' data-sortable="false">Activity name</th>
                    <th data-filterable='true' data-sortable="false">Start Date</th>
                    <th data-filterable='true' data-sortable="false">End Date</th>
                    <th data-filterable='true' data-sortable="true">Duration (Day)</th>
                    <th data-filterable='false' data-sortable="false">Actions</th>
                </thead>
                <tbody>
                    <% if(activities.length > 0) { %>
                        <% (activities).forEach(activity => { %>
                            <tr>
                                <td><%= activity.name %></td>
                                <td><%= moment(activity.startDate).format('DD-MMM-YYYY') %></td>
                                <td><%= moment(activity.endDate).format('DD-MMM-YYYY') %></td>
                                <td><%= moment(activity.endDate).diff(moment(activity.startDate),'days') %></td>
                                <td>
                                    <button class="btn-danger btn" data-toggle="tooltip" title="Delete" data-activity-id="<%= activity._id %>"><i class="far fa-trash-alt"></i></button>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('./new-modal.ejs') -%>
</section>
<script>
    $(document).ready(()=>{
        $('#member-list').footable({
            paging:{
                size:15,
            },
            components:{
                filtering: FooTable.MyFiltering
            }
        });
    });
</script>
<%- include('../partials/footer.ejs') -%>