<%- include('../partials/header.ejs') -%>
<section>
    <h1 class="border-bottom">Member List</h1>
    <table class="table" id="member-list">
        <thead>
            <th>Member name</th>
            <th>Rank</th>
            <th>Email</th>
        </thead>
        <tbody>
            
            <% if(users.length > 0) { %>
                <% (users).forEach(user => { %>
                    <tr>
                        <td><%= user.name %></td>
                        <td><%= ranks[user.rank] %></td>
                        <td><%= user.email %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr><td colspan="3" class="text-center text-danger"><h1>No result found!</h1></td></tr>
            <% } %>
        </tbody>
    </table>
</section>
<%- include('../partials/footer.ejs') -%>