<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./../../styles.ejs') -%>
    <%- include('./../sidebar-style.ejs') -%>
    <%- include('./../../scripts.ejs') -%>
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            $('#sidebarCollapse').click(function(){
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
        });


    </script>
    <title><%= title %> - Admin</title>
</head>
<body>
    <nav class="navbar fixed-top navbar-light bg-dark">
        <button type="button" id="sidebarCollapse" class="btn btn-danger">
            <i class="fa fa-align-justify"></i>
        </button>
        <h3 class="text-light">Admin Site</h3>
        <a href="/admin/home"><img src="/resources/img/logo.png" alt="BB Intranet" id="logo"></a>
    </nav>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header text-light text-center">
                <img src="/resources/img/avatar/m.png" alt="avatar" class="avatar rounded-circle d-block">
                <h4 class="d-block ml-auto mr-auto"><%= (locals.admin)?admin.name:'-' %></h4>
            </div>
            <ul class="list-unstyled">
                <li class="<%= (locals.path1)?(path1 === 'home' ? 'active' : ''):'' %>"><a href="/admin/home"><div class="sidebar-icon"><i class="fa fa-home"></i></div>Home</a>
                <li class="<%= (locals.path1)?(path1 === 'members' ? 'active' : ''):'' %>"><a href="/admin/members"><div class="sidebar-icon"><i class="fa fa-users"></i></div>Members list</a></li>
                <li class="<%= (locals.path1)?(path1 === 'awards' ? 'active' : ''):'' %>"><a href="/admin/awards"><div class="sidebar-icon"><i class="fa fa-certificate"></i></div>Awards list</a></li>
                <li class="<%= (locals.path1)?(path1 === 'activities' ? 'active' : ''):'' %>"><a href="/admin/activities"><div class="sidebar-icon"><i class="fa fa-cross"></i></div>Activities</a></li>
                <!-- <li class="<% (locals.path1)?(path1 === 'something else' ? 'active' : ''):'' %>">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-home"></i> Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Home</a></li>
                    </ul>
                </li> -->
                <li><a href="/admin/sign-up"><div class="sidebar-icon"><i class="fa fa-user-plus"></i></div>Sign Up Admin</a></li>
                <li><a href="/admin/sign-out"><div class="sidebar-icon"><i class="fa fa-sign-out-alt"></i></div> Logout</a></li>
            </ul>
        </nav>
        <div id="content">