<%- include('../partials/header.ejs') -%>
<title>Badge List - BB Intranet</title>
<section>
    <h1 class="border-bottom">Badge List</h1>
    <table class="table" id="badge-list">
        <thead>
            <th>Badge name</th>
            <th>Basic Date</th>
            <th>Advance Date</th>
        </thead>
        <tbody>
            
            <% if(user.badges.length > 0) { %>
                <% (user.badges).forEach(badge => { %>
                    <tr>
                        <td><%= badge.name %></td>
                        <td><%= (badge.basicDate)?moment(badge.basicDate).format('DD-MMM-YYYY'):'-' %></td>
                        <td><%= (badge.advanceDate)?moment(badge.advanceDate).format('DD-MMM-YYYY'):'-' %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr><td colspan="3" class="text-center text-danger"><h1>No result found!</h1></td></tr>
            <% } %>
        </tbody>
    </table>
</section>
<%- include('../partials/footer.ejs') -%>